nav {
	background-color: #fff;
	font-family: 'Lora', serif;
	position: fixed;
	top: 0;
	text-align: center;
	border: thin;
}
nav a {
	background-color: black;
	color: white;
	text-decoration: none;
	display: inline-block;
	padding: 10px;
	width: 200px
}
a:hover {
	 background-color: #ccc;
}
h1 {
	font-family: 'Playfair Display SC', serif;
	color: #000;
	font-size: 55px;
	text-align: center;
	padding-top: 1.25em;
	padding-bottom: 1em 
}
h2 {
	font-family: 'Lora', serif;
	color: #000;
	font-size: 28px;
	font-weight: bold;
	margin-left: 1%;
	padding: 1% 1%;
}
p {
	font-family: 'Lora', serif;
	color: #000;
	font-size: 20px;
	margin-right: 5%;
	margin-top: 5%;
	border: 1% 1%;
	float: right;
	width: 60%;
}
img {
	width: 29%; 
	position: center;
	padding: 2% 2%;
}
.center {
	float: left;
	width: 20%;
	margin: 2% 2%;
	border: 1% 1%;
	padding: 4% 4%;
}
.column {
	float: left;
	width: 33.33%;
	height: 100%;
	margin: 2% 2%;
	border: 1% 1%;
	padding: 4% 4%;
}
#cape {
	background-color: #E0E0E0;
	outline-style: double;
}
#fall {
	background-color: #E0E0E0;
	outline-style: double;
}
#flowers {
	background-color: #E0E0E0;
	outline-style: double;
}
footer {
	font-family: 'Lora', serif;
	font-size: 20px;
	padding: 1em;
	text-align: center;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}