img {
	background-image: center;
	border: 2px solid black;
	width: 350px; 
	height: 350px; 
	;
}
body {
	background-color: #00D3FF;
	text-align: center;
}
h1 {
	color: black;
	font-weight: bold;
	text-decoration: underline;
	font-weight: 750;
	font-family: "Architects Daughter", cursive;
}
h3 {
	color: black;
	font-weight: bold;
	font-weight: 400;
	font-family: "Architects Daughter", cursive;
}
 p {
 	color: black;
 	font-weight: 400;
 	font-family: "Architects Daughter", cursive;
 }
 #slogan {
 	font-style: italic;
 	font-weight: 400;
 	font-family: "Architects Daughter", cursive;
 }